* {
     margin:0;
     padding: 0;
     box-sizing: border-box;
}
.main-container {
  justify-content: center;
}
.information {
     font-weight: bolder;
}
img {
     width:250px;
     height: 250px;
     display: flex;
     justify-content: space-between;
     margin: 32px 58px;
}
h1 {
     text-align: center;
}
.images{
     display: flex;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
}
.des {
     display: flex;
     
}